.blogCreateWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 28px;
}
.blogCreateWrapper form {
  width: 100%;
}
.blogCreateTitle {
  text-align: left;
  font-weight: 600;
  margin-bottom: 1rem;
}
