.error {
  font-size: 12px;
  color: red;
}
.imagePreview {
  position: relative;
  margin-top: 12px;
  width: 260px;
  height: 160px;
  border-radius: 8px;
  border: 1px dashed #d0d5dd;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.contentLabel {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0rem;
}
.excerptCount {
  text-align: right;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  padding-right: .3rem;
}
